<!DOCTYPE html>
<html style="height:100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Charts</title>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.3/svg.js"></script>


	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/datepicker3.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">



	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body style="height:100%">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>SCADA</span>MICRORED ELECTRICA</a>



			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Andres Bayona</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Inicio</a></li>

			<!-- <li><a href="widgets.html"><em class="fa fa-calendar">&nbsp;</em> Widgets</a></li> -->

			<li class="active"><a href="charts.html"><em class="fa fa-bar-chart">&nbsp;</em> Control</a></li>

				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
					</a></li>
				</ul>


			</li>
			<li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

	<div style="height:100%" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Control</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h1 class="page-header">Panel De Control</h1>
			</div>
		</div><!--/.row-->


		<div id='drawing' style="height:100%">
			<script src="{{url_for('static', filename='js/red.js')}}"></script>
		</div>



	</div>

	<script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/chart.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/chart-data.js')}}"></script>
	<script src="{{url_for('static', filename='js/easypiechart.js')}}"></script>
	<script src="{{url_for('static', filename='js/easypiechart-data.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
	<script src="{{url_for('static', filename='js/custom.js')}}"></script>

</body>
</html>
